html, body {
    background-image: url("https://img.gerencia.cl/wp-content/uploads/2023/09/18125656/20230914w3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container { 
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.header{
    background-color: rgb(153, 219, 236);
    padding: 10px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer{
    background-color: rgb(153, 219, 236);
    padding: 10px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 24px;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 5px;
    height: 100%;
}

.letter {
    background-color: white;
    border: 4px solid rgb(153, 219, 236);
    border-radius: 15px;
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.letter:hover {
    background-color: rgb(153, 219, 236);
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.3);
    cursor: pointer;
    transform: scale(1.1);
}
.footer {
    font-size: 14px;
    font-weight: bold;
}